.tag {
    &__disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    &__item {
        display: inline-block;
        position: relative;

        input[type=checkbox] {
            opacity: 0;
            width: 1px;
            height: 1px;
            position: absolute;

            &:focus,
            &:checked {
                &+label {
                    background-color: #FFF;
                    color: #000;
                }
            }
        }

        label {
            position: relative;
            display: inline-block;
            padding: 0.75em;
            margin: 0 0.5em;
            color: #fff;
            border: 1px solid;
            cursor: pointer;
            transition: .25s ease;

            &:hover {
                background-color: #FFF;
                color: #000;
            }
        }
    }
}
